<div class="banner" style='background-image: url(
<% if @cocktail.photo.attached? %>
<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<% else %>
<%= "https://source.unsplash.com/400x300/?cocktail" %>
<% end %>
);'>
  <div class="container">

  </div>
</div>
