.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  box-shadow: 1px 1px 10px lightgrey;
  border-radius: 10px;
}

.card .card-bottom {
  min-height: 1px;
  padding: 1.25rem;
}

.card .card-body {
  max-height: 100px;
}

.card > img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.flat-card.flat-card-description{
  min-height: 400px;
  background-color: #f8f9fa
}
