.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media(max-width: 968px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card {
  box-shadow: 1px 1px 10px lightgrey;
  border-radius: 10px;
}

.card .card-bottom {
  min-height: 1px;
  padding: 1.25rem;
}

.card .card-body {
  max-height: 125px;
}

.card > img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.flat-card {
  box-shadow: 1px 1px 10px lightgrey;
}

.flat-card.flat-card-description{
  min-height: 400px;
  background-color: #f8f9fa;
}

.flat-card-description li:hover .delete-button {
  display: inline-block;
}

.review-card {
  background-color: #f4f4f4;
  border-radius: 9px;
}

.review-card:hover .delete-button {
  display: inline-block;
}
