.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 1px 1px 10px lightgrey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
